<% include header %>

<h1 id="scl">Scholorship Checker</h1>
    <div class="container">
        <div id="scholor">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                        <label for="semester">Select your semester</label>
                        <select name="semester" id="semester" class="form-control semester">
                            <option value="0">select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <input type="hidden" id="semesters">
                    <div id="generatedHtml">

                    </div>

                    <div class="output">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include footer %>