<% include header %>

<div id="icon">
        <a href="https://bitbucket.org/rajv11/">
            <img src="img/bitbucket.svg" class="isize" id="b">
        </a>
        <a href="https://github.com/rajv11">
            <img src="img/github.svg" class="isize" id="g">
        </a>
        <a href="https://www.linkedin.com/in/vamshiraj">
            <img src="img/linkedin-in.svg" class="isize" id="l">
        </a>
    </div>
    <br>
    <div id="con">
        <form method="post" action="/contact">
            <label for="name">
                <p>Last Name</p>
            </label>
            <input type="text" name="name" id="name" placeholder="Enter your name">

            <label for="email">
                <p>E-mail</p>
            </label>
            <input type="text" name="email" id="email" placeholder="Your E-mail">
            
            <label for="subject">
                <p>Subject</p>
            </label>
            <input type="text" name="subject" id="subject" placeholder="Enter Subject">


            <label for="message">
                <p>Message</p>
            </label>
            <textarea name="message" id="message" placeholder="Write here " style="height:200px"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
    <% include footer %>
