<% include header %>
    <h1 class="head">
        <span id="guest"> Guestbook</span>
        <a href="/new-entry" class="btn btn-primary right float-right">
            Write in the guestbook
        </a>
    </h1>
    <% if (entries.length) { %>
        <% entries.forEach(function(entry) { %>
            <div class="card">
                <div class="card-header">
                    <h6>
                        <%= entry.title %>
                            <div class="text-muted float-right">
                                <%= entry.published %>
                            </div>
                    </h6>
                </div>
                <div class="card-body">
                    <%= entry.content %>
                </div>
            </div>


            <% }) %>
                <% } else { %>
                    <div id="no">
                        No entries!
                        <a href="/new-entry" class="btn btn-primary right float-right">
                            Click me to add!!
                        </a>
                    </div>
                    <% } %>
                        <% include footer %>