<!doctype html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vamshi Raj</title>

	<link rel="stylesheet" type="text/css" href="/css/custom.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
</head>

<body class="style">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary navbar-fixed" style='padding-bottom:0px'>
                <a class="navbar-brand head" href="/">Vamshi raj</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                 aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-right" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                        <a class="nav-item nav-link" href="more">More</a>
                        <a href="/guestbook" class="nav-item nav-link">
                            Guestbook
                        </a>
                        <a class="nav-item nav-link" href="app">App</a>
                        <a class="nav-item nav-link" href="contact">Contact</a>
                        <a class="nav-item nav-link" href="test">Tests</a>
                    </div>
                </div>
            </nav>